body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  background-color: #f6efdf;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  width: 90%;
  height: auto;
}

.next-button {
  border: none;
  border-radius: 12px; /* 끝에 radius를 살짝 넣음 */
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #53c7fb; /* 버튼 색상 */
}

.next-button:hover {
  background-color: #0056b3; /* 호버 시 색상 변경 */
}

.image-container {
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.responsive-image2 {
  width: 100%;
  height: 100%;
}

.season-button {
  position: absolute; /* 이미지 위에 배치 */
  width: 100%; /* 버튼을 이미지 가로 크기에 맞춤 */
  max-width: 800px;
  height: 25%; /* 각 버튼이 이미지 높이의 25% 차지 */
  background: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  color: white; /* 텍스트 색상 */
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

/* 버튼 호버 효과 */
.season-button:hover {
  background: rgba(255, 255, 255, 0.5); /* 밝게 강조 */
  color: black; /* 텍스트 색상 변경 */
}

/* 버튼 위치 설정 */
.spring {
  top: 0; /* 상단 (춘) */
}

.summer {
  top: 25%; /* 25% 아래 (하) */
}

.autumn {
  top: 50%; /* 50% 아래 (추) */
}

.winter {
  top: 75%; /* 75% 아래 (동) */
}